:root {
  --primary-color: rgb(110, 186, 94);
  --secondary-color: rgb(154, 214, 145);

  --background-color: white;
  --text-color: black;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 48px;
  --font-size-xxxxl: 64px;
}

@font-face {
  font-family: "KC Obra Letra";
  src: url("/fonts/KCObraLetraRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: "Plus Jakarta Sans";
}

main {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  margin: auto;
  max-width: 75%;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

img {
  pointer-events: none;
  border-radius: 5px;
}

h1 {
  font-family: "KC Obra Letra";
  font-size: var(--font-size-xxl);
  color: var(--primary-color);

  span {
    color: var(--secondary-color);
  }
}

p {
  line-height: 1.6;
}

.anchor-button,
button {
  padding: 10px 15px;
  width: fit-content;

  appearance: none;
  border: none;
  text-decoration: none;

  color: var(--text-color);

  border-radius: 5px;

  font-size: var(--font-size-xs);
  font-weight: 599;

  cursor: pointer;
}

.topbar-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background-color);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

  .banner-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    background-color: var(--primary-color);
    color: var(--background-color);

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px;

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      text-decoration: none;

      img {
        width: 25px;
        height: 25px;
      }

      span {
        font-family: "KC Obra Letra";
        font-size: var(--font-size-xl);
      }
    }

    .options-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }

    .language-container {
      position: relative;

      select {
        appearance: none;
        border: none;
        padding: 5px;
        background-color: lightgray;
        border-radius: 0;
        font-size: var(--font-size-sm);
        padding-right: 30px;
        width: 100%;
        border-radius: 5px;
      }

      select {
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3E%3Cpath d="M20 40 L50 70 L80 40 Z" fill="black" /%3E%3C/svg%3E');
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 12px;
      }
    }

    .hamburger-container {
      button {
        padding: 0;
        background-color: transparent;
      }
    }
  }
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  .hamburger-options-container {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: var(--font-size-xxl);

    button {
      position: absolute;
      top: 0;
      right: 0;

      cursor: pointer;
      margin: 25px;

      padding: 0;
      background-color: transparent;

      fill: white;
    }
  }
}

.home-banner-container {
  width: 100%;
  height: 650px;
  overflow: hidden;
  position: relative;

  .text-container {
    padding: 75px 30px;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    bottom: 0;
    position: absolute;
    color: white;
    width: 650px;
    height: fit-content;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-top: 200px;

    h1 {
      font-size: var(--font-size-xxl);
      font-weight: bolder;
      color: var(--background-color);
      font-family: "Plus Jakarta Sans";
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
  }
}

.about-us-container {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
    font-size: var(--font-size-md);
  }
}

.text-image-card-container {
  display: grid;
  place-items: center;
  gap: 50px;

  .individual-text-image-card-container {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    img {
      width: 400px;
    }

    .side {
      display: grid;
      gap: 25px;
      place-items: center;

      p {
        font-size: var(--font-size-md);
        text-align: center;

        span {
          font-weight: 590;
        }
      }

      h1 {
        text-align: center;
      }
    }
  }
}

.review-gallery-container {
  h1 {
    text-align: center;
  }

  .individual-review-card-container {
    display: grid;
    place-items: center;
    gap: 15px;

    padding: 25px;

    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);

    max-width: 750px;

    .profile-image {
      width: 75px;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }

    .star-container {
      display: flex;

      .star {
        width: 15px;
        fill: var(--primary-color);
      }
    }

    p {
      font-style: italic;
      text-align: justify;
    }
  }
}

.reach-out-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  gap: 50px;

  .form-container {
    display: grid;
    place-items: center;
    gap: 10px;

    .name-phone-container {
      display: flex;
      gap: 25px;
    }

    input,
    textarea {
      padding: 10px;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      font-size: var(--font-size-sm);
      outline: none;
      width: 100%;
    }

    textarea {
      resize: vertical;
      min-height: 100px;
      max-height: 200px;
      margin-bottom: 50px;
    }
  }

  h1 {
    text-align: center;
  }
}

.footer-container {
  display: grid;
  gap: 100px;
  padding: 50px;
  background-color: var(--primary-color);
  color: var(--text-color);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  .left {
    display: grid;
    gap: 25px;

    .info-container {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 25px;
      }
    }
  }

  .right {
    display: grid;
    gap: 25px;

    .partner-container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
      gap: 25px;

      img {
        width: 275px;
        background-color: rgb(255, 255, 255, 0.25);
        padding: 25px;
      }
    }
  }
}

.rights-reserved-container {
  display: grid;
  place-items: center;
  text-align: center;

  padding-top: 75px;
  padding-bottom: 25px;
  background-color: var(--primary-color);
  color: var(--text-color);

  font-size: var(--font-size-xs);

  a {
    font-weight: 590;
  }
}

.history-container {
  display: grid;
  gap: 25px;

  h1 {
    text-align: center;
  }

  p {
    text-align: justify;
    font-size: var(--font-size-md);

    span {
      font-weight: 590;
    }
  }

  iframe {
    align-self: center;
    width: 100%;
    height: 530px;
  }
}

.timeline-container {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }
}

.quote-container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  h1 {
    text-align: center;
  }

  .individual-quote-card-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;

    .side {
      display: flex;
      flex-direction: column;
    }

    img {
      width: 350px;
      align-self: center;
    }

    p {
      font-size: var(--font-size-md);
      text-align: center;
      font-style: italic;
    }
  }
}

.products-used-container {
  .products-used-gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;

    .individual-product-container {
      display: grid;
      place-items: center;

      padding: 20px;

      img {
        width: 300px;
      }

      p {
        text-align: center;
      }
    }
  }

  h1 {
    text-align: center;
  }
}

.ingredients-instructions-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  ol {
    margin-left: 25px;
  }
}

.recipe-gallery-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  gap: 25px;

  .individual-recipe-card-container {
    position: relative;

    cursor: pointer;

    display: grid;
    place-items: center;
    gap: 5px;

    p {
      font-weight: 590;
      text-align: center;
      font-size: var(--font-size-xs);
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0, 0.25);
      color: white;
      padding: 10px;
      border-bottom-right-radius: 5px;
    }

    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
  }
}

.recipe-category-container {
  h1 {
    text-align: center;
  }
}

.recipe-banner-container {
  position: relative;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
    filter: brightness(50%);
  }

  h1 {
    display: grid;
    place-items: center;
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 1;

    font-family: "Plus Jakarta Sans";
    font-size: var(--font-size-xxxxl);

    padding: 0px 100px;
  }

  .recipe-filter-container {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;

    width: 100%;

    z-index: 1;

    margin: 25px 0px;
  }
}

.mapchart-container {
  h1 {
    text-align: center;
  }

  img {
    width: 100%;
  }
}

.embla {
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow: hidden;

  .embla__container {
    display: flex;

    .embla__slide {
      display: flex;
      justify-content: center;
      flex: 0 0 100%;
    }
  }

  .embla__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .embla__next,
  .embla__prev {
    background: var(--primary-color);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }

  .embla__next:disabled,
  .embla__prev:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .embla__dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 0 20px;

    .embla__dot {
      width: 12px;
      height: 12px;
      background: lightgray;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      aspect-ratio: 1 / 1;
    }

    .embla__dot.active {
      background: var(--primary-color);
    }
  }
}

/* pc view */
@media screen and (min-width: 1000px) {
  .options-container a,
  .language-container {
    display: flex;
  }

  .hamburger-container {
    display: none;
  }

  .home-banner-container {
    .text-container {
      left: 50px;
      right: 25px;
    }
  }

  .text-image-card-container {
    .individual-text-image-card-container {
      .mobile-image {
        display: none;
      }
    }
  }

  .quote-container {
    .individual-quote-card-container {
      .mobile-image {
        display: none;
      }
    }
  }

  .hamburger-menu {
    display: none;

    &.open {
      display: none;
    }
  }
}

/* mobile view */
@media screen and (max-width: 1000px) {
  .options-container a,
  .language-container {
    display: none;
  }

  .home-banner-container {
    .text-container {
      width: 100%;
      height: 100%;
    }
  }

  .text-image-card-container {
    gap: 125px;

    .individual-text-image-card-container {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;

      .wide-image {
        display: none;
      }
    }
  }

  .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .right {
      .partner-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }
  }

  .reach-out-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
  }

  .quote-container {
    gap: 125px;

    .individual-quote-card-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      .wide-image {
        display: none;
      }

      .side {
        gap: 25px;
      }
    }
  }

  .history-container {
    iframe {
      height: 350px;
    }
  }

  .recipe-banner-container {
    h1 {
      font-size: var(--font-size-xxxl);
    }
  }

  .ingredients-instructions-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 125px;
  }
}
