:root {
  --primary-color: rgb(110, 186, 94);
  --secondary-color: rgb(154, 214, 145);

  --background-color: white;
  --text-color: black;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 48px;
  --font-size-xxxxl: 64px;
}

@font-face {
  font-family: "KC Obra Letra";
  src: url("/fonts/KCObraLetraRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: --background_color;
  font-family: "Plus Jakarta Sans";
}

main {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  margin: auto;
  max-width: 75%;
}

img {
  pointer-events: none;
  border-radius: 5px;
}

button,
.anchor-button {
  padding: 10px 15px;
  width: fit-content;

  appearance: none;
  border: none;
  color: var(--text-color);
  text-decoration: none;

  border-radius: 5px;

  font-size: var(--font-size-xs);
  font-weight: 599;

  cursor: pointer;
}

h1 {
  font-family: "KC Obra Letra";
  font-size: var(--font-size-xxl);
}

p {
  line-height: 1.6;
}

.topbar-container {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background-color);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

  .banner-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    background-color: var(--primary-color);
    color: var(--background-color);

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px;

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      text-decoration: none;

      img {
        width: 25px;
        height: 25px;
      }

      span {
        font-family: "KC Obra Letra";
        font-size: var(--font-size-xl);
      }
    }

    .options-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }

    .language-container {
      position: relative;

      select {
        appearance: none;
        border: none;
        padding: 5px;
        background-color: lightgray;
        border-radius: 0;
        font-size: var(--font-size-sm);
        padding-right: 30px;
        width: 100%;
        border-radius: 5px;
      }

      select {
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3E%3Cpath d="M20 40 L50 70 L80 40 Z" fill="black" /%3E%3C/svg%3E');
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 12px;
      }
    }
  }
}

.video-text-container {
  width: 100%;
  height: 650px;
  overflow: hidden;
  position: relative;

  .text-container {
    padding: 75px 30px;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    bottom: 0;
    left: 50px;
    right: 25px;
    position: absolute;
    color: white;
    width: 650px;
    height: fit-content;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-top: 200px;

    h1 {
      font-size: var(--font-size-xxxl);
      font-weight: bolder;
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.about-us-container {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
    font-size: var(--font-size-md);
  }
}

.text-image-card-container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .individual-text-image-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    img {
      width: 550px;
    }

    .side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;

      p {
        font-size: var(--font-size-md);
        text-align: center;
      }

      h1 {
        text-align: center;
      }
    }
  }
}

.review-gallery-container {
  display: flex;
  flex-direction: column;
  gap: 25px;

  h1 {
    text-align: center;
  }

  .review-card-container {
    display: flex;
    gap: 25px;

    .individual-review-card-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;

      width: 700px;
      padding: 25px;

      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.25);

      .profile-image {
        width: 75px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      .star-container {
        display: flex;

        .star {
          width: 15px;
          fill: var(--primary-color);
        }
      }

      p {
        font-style: italic;
        text-align: justify;

        .quote {
          width: 20px;
          margin-right: 7.5px;
          margin-left: 7.5px;
        }
      }
    }
  }
}

.reach-out-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .name-phone-container {
      display: flex;
      gap: 25px;
    }

    input,
    textarea {
      padding: 10px;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      font-size: var(--font-size-sm);
      outline: none;
      width: 100%;
    }

    textarea {
      resize: vertical;
      min-height: 100px;
      max-height: 200px;
      margin-bottom: 50px;
    }
  }

  h1 {
    margin-bottom: 75px;
    text-align: center;
  }
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px;
  background-color: var(--primary-color);
  color: var(--text-color);

  .left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 375px;

    .info-container {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 25px;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .partner-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;

      img {
        width: 350px;
        height: 275px;
        background-color: rgb(0, 0, 0, 0.25);
        padding: 25px;
        border-radius: 5px;
      }
    }
  }
}

.rights-reserved-container {
  display: flex;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 25px;
  background-color: var(--primary-color);
  color: var(--text-color);

  font-size: var(--font-size-xs);
}

.history-container {
  display: flex;
  flex-direction: column;
  gap: 25px;

  h1 {
    text-align: center;
  }

  p {
    text-align: justify;
    font-size: var(--font-size-md);
  }

  iframe {
    align-self: center;
  }
}

.timeline-container {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }
}

.quote-container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  h1 {
    text-align: center;
  }

  .individual-quote-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .side {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    p {
      font-size: var(--font-size-md);
      text-align: center;

      .quote {
        width: 20px;
        margin-right: 7.5px;
        margin-left: 7.5px;
      }
    }
  }
}

.recipe-banner-container {
  position: relative;
  width: 100%;
  height: 425px;
  overflow: hidden;

  div {
    position: absolute;
    top: 350px;
    margin-left: 12%;
    color: white;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
  }
}

.recipe-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;

  img {
    width: 300px;
  }

  p {
    text-align: center;
  }
}

.recipe-row {
  display: flex;

  & > div {
    flex: 1;
  }
}

.recipe-card-container {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  p {
    font-weight: 590;
  }

  img {
    width: 300px;
  }
}

.recipe-gallery-container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}
